body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border-color: aqua;
}

.container {
    text-align: center;
    border-color: blanchedalmond;
}

input[type="text"] {
    padding: 8px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

li span {
    flex-grow: 1;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
